<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button [routerLink]="['/customers']">Go to customers</ion-button>-->

  <ion-grid>
    <ion-row>
      <ion-col class="col-text">
        Texto1
      </ion-col>
      <ion-col class="col-text">
        Texto2
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-text">
        Texto3
      </ion-col>
      <ion-col class="col-text">
        Texto4
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
